SOCIAL_APP_NAME=Mini Social Network
SOCIAL_ENVIRONMENT=local
SOCIAL_APP_PORT=8010
SOCIAL_DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/social
SOCIAL_REDIS_URL=redis://redis:6379/0
SOCIAL_JWT_SECRET_KEY=replace-key
SOCIAL_JWT_ALGORITHM=HS256
SOCIAL_ACCESS_TOKEN_EXPIRE_MINUTES=30
SOCIAL_VERIFICATION_TOKEN_EXPIRE_HOURS=24
SOCIAL_CLEANUP_UNVERIFIED_AFTER_HOURS=48
SOCIAL_MAINTENANCE_TOKEN=replace-tokenn
